@import "tailwindcss";

@custom-variant g-active (&:where(.group[data-active="true"] *));

@theme {
  --animate-spin-slow: spin 3s linear infinite;
  --color-primary-glow: #3b82f6;
  --color-dark: #020e0b;
  --color-primary: #10b981;
  --color-accent: #34d399;
  --color-secondary: #a7f3d0;
  --color-gray: #94a3b8;
  --animate-spin-slow: spin 3s linear infinite;
  --animate-spin-custom: spin 3s linear infinite;
  --animate-gear-spin: gear-spin 4s linear infinite;
  --animate-gear-spin-reverse: gear-spin-reverse 4s linear infinite;

}


::selection {
  background-color: #10b9818b;
  color: #ffffffee;
}

::-moz-selection {
  background-color: #10b9818a;
  color: #ffffffee;

}

body::-webkit-scrollbar {
  background: transparent !important;
  width: 7px !important;
}

body::-webkit-track {
  background: transparent !important;
}

body::-webkit-scrollbar-thumb {
  background: #10b982;
  width: 7px !important;
  border-radius: 7px
}

html {
  scroll-behavior: smooth;
  font-display: swap
}





body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #030505;
}




.text-gradient {

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: none;

  display: inline-block;
}

.animate-spin-custom {
  animation: spin 2s linear infinite;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(361deg);
  }
}